.type-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #f1f1f1;
    color: #555;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.active {
      transform: scale(1.1);
      color: white;
      background-color: #3b4cca;
    }
  }
}

.empty-message {
  text-align: center;
  font-size: 1.2em;
  color: #888;
  margin-top: 50px;
}

.type-nav .type-bg-fire {
  &.active {
    background-color: #f08030;
  }
}
.type-nav .type-bg-grass {
  &.active {
    background-color: #78c850;
  }
}
.type-nav .type-bg-water {
  &.active {
    background-color: #6890f0;
  }
}
.type-nav .type-bg-bug {
  &.active {
    background-color: #a8b820;
  }
}
.type-nav .type-bg-normal {
  &.active {
    background-color: #a8a878;
  }
}
.type-nav .type-bg-poison {
  &.active {
    background-color: #a040a0;
  }
}
.type-nav .type-bg-electric {
  &.active {
    background-color: #f8d030;
  }
}
.type-nav .type-bg-ground {
  &.active {
    background-color: #e0c068;
  }
}
.type-nav .type-bg-fairy {
  &.active {
    background-color: #ee99ac;
  }
}
.type-nav .type-bg-fighting {
  &.active {
    background-color: #c03028;
  }
}
.type-nav .type-bg-psychic {
  &.active {
    background-color: #f85888;
  }
}
.type-nav .type-bg-rock {
  &.active {
    background-color: #b8a038;
  }
}
.type-nav .type-bg-ghost {
  &.active {
    background-color: #705898;
  }
}
.type-nav .type-bg-ice {
  &.active {
    background-color: #98d8d8;
  }
}
.type-nav .type-bg-dragon {
  &.active {
    background-color: #7038f8;
  }
}
.type-nav .type-bg-flying {
  &.active {
    background-color: #808b96;
  }
}
.type-nav .type-bg-steel {
  &.active {
    background-color: #7d7a7a;
  }
}
.type-nav .type-bg-dark {
  &.active {
    background-color: #2b1d45;
  }
}
.type-nav .type-bg-stellar {
  &.active {
    background-color: #40857f;
  }
}
.type-nav .type-bg-unknown {
  &.active {
    background-color: #d2f4fa;
  }
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
