<a routerLink="/" class="back-button">← Back</a>

<div *ngIf="pokemon$ | async as pokemon; else loading" class="detail-container">
  <div class="pokemon-header">
    <h1 class="pokemon-name">
      #{{ pokemon.id }} {{ pokemon.name | titlecase }}
    </h1>
    <div class="pokemon-types">
      <span
        *ngFor="let typeInfo of pokemon.types"
        class="type-badge type-{{ typeInfo.type.name }}"
      >
        {{ typeInfo.type.name | titlecase }}
      </span>
    </div>
  </div>

  <img
    class="pokemon-image"
    [src]="pokemon.sprites.front_default"
    [alt]="pokemon.name"
  />

  <div class="section">
    <h2>Attributes</h2>
    <div class="attributes">
      <span><strong>Height:</strong> {{ pokemon.height / 10 }} m</span>
      <span><strong>Weight:</strong> {{ pokemon.weight / 10 }} kg</span>
    </div>
  </div>

  <div class="section">
    <h2>Base Stats</h2>
    <ul class="stats-list">
      <li *ngFor="let stat of pokemon.stats">
        <span class="stat-name">{{ stat.stat.name | titlecase }}</span>
        <div class="stat-bar-container">
          <div class="stat-bar" [style.width.%]="(stat.base_stat / 255) * 100">
            {{ stat.base_stat }}
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>Abilities</h2>
    <ul class="abilities-list">
      <li
        *ngFor="let abilityInfo of pokemon.abilities"
        class="tooltip-container"
      >
        {{ abilityInfo.ability.name | titlecase }}
        <span *ngIf="abilityInfo.is_hidden" class="hidden-ability"
          >(Hidden Ability)</span
        >

        <p class="tooltip-text">{{ abilityInfo.description }}</p>
      </li>
    </ul>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
